# Git
.git
.gitignore
.gitattributes

# Maven
.mvn/
mvnw
mvnw.cmd
**/.mvn/
**/mvnw
**/mvnw.cmd
**/target/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.classpath
*.project
*.settings/
amplicode.xml

# Docker
**/Dockerfile
docker-compose.yml
docker-compose.yaml
.dockerignore

# Documentation
README.md
*.md
.editorconfig

# Secrets
.env
.env.*

# OS
.DS_Store
Thumbs.db
desktop.ini